body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para {
  font-size: 22px;
}

/* font-size is defined later than the same rule for .para, hence taking precedence */
.small-para {
  font-size: 14px;
  font-weight: 800;
}

/* More class selectors than the declaration below it */
.button.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

/* .child appears later than .text, hence taking precedence */
.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}
